* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

button {
  padding: 8px 20px;
  cursor: pointer;
  background-color: #f4a7a3; 
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f7b5af; 
}


body {
  margin: 0;
  background-color: #f3e9dc;
}

header {
  background-color: #f4a7a3;
  padding: 20px;
  text-align: center;
}

header img {
  width: 60px;
  vertical-align: middle;
}

header h1 {
  display: inline;
  margin-left: 10px;
}

.container {
  display: flex;
  min-height: 80vh;
}

nav {
  width: 200px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  margin: 15px 0;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  display: block;
  border-radius: 5px;
}

nav a:hover {
  background-color: #e6d9ff;
  color: black;
}

main {
  flex: 1;
  padding: 30px;
}

.products {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.product-card {
  width: 22%;
  text-align: center;
}

.product-box {
  background: white;
  height: 150px;
  border-radius: 10px;
  margin-bottom: 8px;
  border: 1px solid #ddd;
  overflow: hidden;
}

.product-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

form input,
form textarea {
  width: 300px;
  padding: 8px;
}

button {
  padding: 8px 20px;
  cursor: pointer;
}

footer {
  background-color: #f4a7a3;
  text-align: center;
  padding: 10px;
}
